@font-face {
  font-family: 'gilroyextrabold';
  src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
      url('../fonts/gilroyextrabold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gilroylightr';
  src: url('../fonts/gilroylight.woff2') format('woff2'),
      url('../fonts/gilroylight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

/* header */

.main-header {
  background-color: #f7e296;
}

.main-header-logo {
  font-size: 48px;
  line-height: 48px;
  cursor: pointer;
}

.main-header a:hover {
  opacity: 0.6;
}

.main-header a:active {
  opacity: 0.3;
}

.main-navigation-search input {
  border: none;
  background-color: transparent;
}

.main-navigation-search input:focus {
  outline: none;
  border-bottom: 1px solid #000000;
}

input[type="search"]::placeholder {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;

  color: #000000;
  opacity: 0.3;
}

input[type="search"]:hover::placeholder {
  opacity: 0.6;
}

input[type="search"]:focus::placeholder {
  opacity: 1;
}

.search-button {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;

  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: capitalize;

  background-color: transparent;
  border: 1px solid #000000;

  opacity: 0;
}

.search-button:hover {
   color: #ffffff;
   background-color: #000000;
}

.main-navigation-search input:focus ~ .search-button{
  opacity: 1;
}

.user-navigation,
.header-services-list,
.header-calalog-list {
  list-style: none;
}

.user-navigation {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
}

.navigation-item.logout {
  opacity: 0.3;
}

.header-services-list {
  font-size: 18px;
  line-height: 24px;
}

.header-calalog-list {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;

  font-size: 15px;
  line-height: 36px;
}

/* promo-products */

.product-number {
  font-size: 179px;
  line-height: 1;
  color: #fff;
}

.product-motto {
  font-size: 47px;
  line-height: 56px;
}

.product-info {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;

  color: #464646;
}

.slider-product .button {
  display: block;
  width: 220px;
  height: 8px;

  text-align: center;
  font-size: 18px;
  line-height: 8px;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  background-color: #f0c52e;
}

.slider-product .button:hover {
  height: 40px;
  line-height: 40px;
}

.slider-product .button:active {
  height: 40px;
  line-height: 40px;
  opacity: 0.3;
}

.product-properties tr:last-child {
  font-size: 35px;
  line-height: 48px;
  font-family: 'gilroylightr', Arial, sans-serif;
}

.product-properties tr:first-child {
  font-size: 13px;
  line-height: 20px;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
}

/* popular-products */

.popular-poducts-list {
  list-style: none;
}

.popular-poducts-list li {
  width: 160px;
}

.popular-poducts-list a {
  display: block;
  background-color: #f0c52e;
}

.popular-poducts-list a:hover {
  background-color: #f0c52e;
}

.popular-poducts-list a:active img {
  opacity: 0.3;
}

.popular-poducts-list h3 {
  font-size: 18px;
  line-height: 24px;
}

/* services */
.services {
  background-color: #e5e5e5;
}
.services .button {
  width: 220px;
  height: 8px;

  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;

  background-color: #f0c52e;
}

.services .button:hover {

}

.services .button:active {
  color: #f7e184;

  background-color: #000000;
}

.services-list {
  list-style: none;
}

.services-list h3 {
  font-size: 47px;
  line-height: 48px;
}

.services-list p {
  color: #464646;
}

/* brends */

.brends-list {
  list-style: none;
}

.brends-list li {
  cursor: pointer;
}

/* about */

.about h2 {
  font-size: 47px;
  line-height: 48px;
}

.about p {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
}

.about .transport-list {
  list-style-type: circle;

  font-size: 16px;
  line-height: 40px;
}

.about .button {
  display: block;
  height: 8px;

  text-align: center;
  font-size: 18px;
  line-height: 8px;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  background-color: #f0c52e;
}

.about .button:hover {
  height: 40px;
  line-height: 40px;
}

.about .button:active {
  height: 40px;
  line-height: 40px;
  opacity: 0.3;
}

/* contacts */

.contacts h2 {
  font-size: 47px;
  line-height: 48px;
}

.contacts p {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
}

.contacts .transport-list {
  list-style-type: circle;

  font-size: 16px;
  line-height: 40px;
}

.contacts .button {
  display: block;
  height: 8px;

  text-align: center;
  font-size: 18px;
  line-height: 8px;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  background-color: #f0c52e;
}

.contacts .button:hover {
  height: 40px;
  line-height: 40px;
}

.contacts .button:active {
  height: 40px;
  line-height: 40px;
  opacity: 0.3;
}

/* modal */
.modal {
  width: 960px;
  background-color: #ffffff;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
}

.mail-form label {
  font-size: 18px;
  line-height: 24px;
}

.modal input,
.modal textarea {
  font-family: 'Open Sans', Arial, sans-serif;
  background-color: rgba(230, 230, 230, 0.5);
  border: none;
}

.modal input::placeholder,
.modal textarea::placeholder {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;

  color: rgba(70, 70, 70, 0.4);
}

.modal input:hover,
.modal textarea:hover {
  background-color: rgba(230, 230, 230, 0.8);
}

.modal input:focus,
.modal textarea:focus {
  background-color: transparent;
  border: 3px solid #f0c52e;
  outline: none;
}

.modal input:focus::placeholder,
.modal textarea:focus::placeholder {
  color: rgba(70, 70, 70, 1);;
}

.modal input:invalid,
.modal textarea:invalid {
  background-color: rgba(237, 181, 181, 0.5);
  color: rgba(70, 70, 70, 0.4);
}

.modal .button {
  text-align: center;
  font-size: 18px;
  line-height: 8px;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  background-color: #f0c52e;
  border: none;
}

.modal .button:hover {
  line-height: 40px;
}

.modal .button:active {
  color: rgba(0, 0, 0, 0.3)
}

.modal-close-button {
  width: 55px;
  height: 55px;
  background-image: url("../img/modal-close.svg");
  background-color: transparent;
  border: none;
  font-size: 0px;
  opacity: 0.5;
  cursor: pointer;
}

.modal-close-button:focus,
.modal-close-button:hover {
  opacity: 1;
  outline: none;
}

.modal-close-button:active {
  opacity: 0.3;
}
/* catalog-page */

.catalog h1 {
  font-size: 47px;
  line-height: 48px;
}

.breadcrumbs {
  list-style: none;

  font-size: 14px;
  line-height: 24px;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;

  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.catalog fieldset {
  border: none;
}

/* filter */

.filter h2 {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.filter legend {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.custom-range {
  position: relative;
  width: 196px;
  height: 2px;
  margin-bottom: 50px;
  background-color: #dbdbdb;
}

.price-range {
  position: absolute;
  width: 110px;
  height: 2px;
  top: 0;
  left: 0;
  background-color: #91c92f;
}

.icon-max-price,
.icon-min-price {
  width: 20px;
  height: 22px;
  position: absolute;
  top: 50%;
  left: 0;
  margin-left: -10px;
  margin-top: -11px;
  font-size: 0px;
  background-image: url("../img/filter-button.svg");
  cursor: pointer;
}

.custom-range input {
  border: none;
}

.icon-max-price {
  left: 110px;
}

.filter ul {
  list-style: none;

  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
}

.filter input:hover {
  opacity: 0.6;
}

.filter input:active {

}

.filter .button {
  text-align: center;
  font-size: 18px;
  line-height: 8px;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  background-color: #f0c52e;
  border: none;
}

.filter .button:hover {
  line-height: 40px;
}

.filter .button:active {
  color: rgba(0, 0, 0, 0.3)
}

/* sort */

.sort h2 {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.sort-list {
  list-style: none;

  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.sort-list li {
  color: rgba(0, 0, 0, 0.3);
}

.sort-list li.current {
  color: rgba(0, 0, 0, 1);
}

.sort-list a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sort-list a:active {
  color: rgba(0, 0, 0, 1);
}

.sort-list .arrow {
  width: 11px;
  height: 10px;
  font-size: 0px;
  opacity: 0.2;
}

.sort-list .arrow.current {
  opacity: 1;
}

.sort-list .arrow-up {
  background-image: url("../img/icon-up.svg");
}

.sort-list .arrow-down {
  background-image: url("../img/icon-down.svg");
}

.sort-list .arrow:hover {
  opacity: 0.4;
}

/* catalog */

.catalog-list {
  list-style: none;
}

.catalog-list h3 {
  font-size: 18px;
  line-height: 24px;
}

.catalog-item:hover .button,
.catalog-item:hover .compare-button  {
  display: block;
}

.catalog-list .catalog-item-price {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;

  font-size: 16px;
  line-height: 24px;

  color: #464646;
}

.catalog-list .button {
  display: none;
  text-align: center;
  font-size: 18px;
  line-height: 8px;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  background-color: #f0c52e;
  border: none;
}

.catalog-list .button:hover {
  line-height: 40px;
}

.catalog-list .button:active {
  color: rgba(0, 0, 0, 0.3)
}

.catalog-list .compare-button {
  display: none;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 36px;

  color: rgba(0, 0, 0, 0.5);
}
.catalog-list .compare-button:hover {
  color: rgba(0, 0, 0, 1);
}
.catalog-list .compare-button:active {
  color: rgba(0, 0, 0, 0.2);
}

/* catalog-nav */

.pagination-list {
  list-style: none;

  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;

  background-color:rgba(0, 0, 0, 0.08);
}

.pagination-item {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-item-current {
  color: rgba(0, 0, 0, 1);
}

.pagination-item:hover  {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-item:active {
  color: rgba(0, 0, 0, 1);
}

.pagination-button {
  text-transform: uppercase;
}

.pagination-button:hover {
  background-color:rgba(0, 0, 0, 0.08);
}

.pagination-button:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.08);
}

/* footer */

.main-footer {
  background-color: #464646;
  color: #ffffff;
}

.main-footer a:hover {
  opacity: 0.6;
}

.main-footer a:active {
  opacity: 0.3;
}

.footer-social-list,
.footer-services-list,
.footer-calalog-list {
  list-style: none;
}

.main-footer-logo {
  font-size: 48px;
  line-height: 48px;
  color: #ffc600;
  cursor: pointer;
}

.main-footer-logo:hover {
  opacity: 0.6;
}

.main-footer-logo:active {
  opacity: 0.3;
}

.footer-phone,
.footer-address {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
}

.footer-services-list {
  font-size: 18px;
  line-height: 24px;
}

.footer-social-list li {
  width: 32px;
  height: 32px;
}

.footer-social-list a {
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background-image: url("../img/fb.svg");
}

.footer-social-list a:hover {
  opacity: 0.6;
}

.footer-social-list a:active {
  opacity: 0.1;
}

.footer-social-list li:nth-child(2) a {
  background-image: url("../img/instagram.svg");
}

.footer-social-list li:last-child a {
  background-image: url("../img/twitter.svg");
}

