@font-face {
  font-family: 'gilroyextrabold';
  src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
      url('../fonts/gilroyextrabold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gilroylightr';
  src: url('../fonts/gilroylight.woff2') format('woff2'),
      url('../fonts/gilroylight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

.main-header {
  background-color: #f7e296;
}

.main-header-logo {
  font-size: 48px;
  line-height: 48px;
  cursor: pointer;
}

.main-header a:hover {
  opacity: 0.6;
}

.main-header a:active {
  opacity: 0.3;
}

.user-navigation,
.header-services-list,
.header-calalog-list {
  list-style: none;
}

.user-navigation {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
}

.header-services-list {
  font-size: 18px;
  line-height: 24px;
}

.header-calalog-list {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;

  font-size: 15px;
  line-height: 36px;
}

/* promo-products */

.product-number {
  font-size: 179px;
  line-height: 1;
  color: #fff;
}

.product-motto {
  font-size: 47px;
  line-height: 56px;
}

.product-info {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;

  color: #464646;
}

.slider-product .button {
  display: block;
  width: 220px;
  height: 8px;

  text-align: center;
  font-size: 18px;
  line-height: 8px;
  background-color: #f0c52e;
  text-transform: uppercase;
}

.slider-product .button:hover {
  height: 40px;
  line-height: 40px;
}

.slider-product .button:active {
  height: 40px;
  line-height: 40px;
  opacity: 0.3;
}

.product-properties tr:last-child {
  font-size: 35px;
  line-height: 48px;
  font-family: 'gilroylightr', Arial, sans-serif;
}

.product-properties tr:first-child {
  font-size: 13px;
  line-height: 20px;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
}

/* popular-products */

.popular-poducts-list {
  list-style: none;

  font-size: 18px;
  line-height: 24px;
}

.popular-poducts-list li {
  width: 160px;
}

.popular-poducts-list img {
  margin: 0 auto;
}

.main-footer {
  background-color: #464646;
  color: #ffffff;
}

.main-footer-logo {
  font-size: 48px;
  line-height: 48px;
  color: #ffc600;
  cursor: pointer;
}

.main-footer-logo:hover {
  opacity: 0.6;
}

.main-footer-logo:active {
  opacity: 0.3;
}
